USE [QLCAFE]
GO
/****** Object:  Table [dbo].[BAN]    Script Date: 24/06/2022 09:09:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAN](
	[ID_BAN] [int] IDENTITY(1,1) NOT NULL,
	[ID_KV] [int] NULL,
	[TENBAN] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_BAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHMUCSP]    Script Date: 24/06/2022 09:09:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUCSP](
	[ID_DM] [int] IDENTITY(1,1) NOT NULL,
	[TENDM] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATMON]    Script Date: 24/06/2022 09:09:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATMON](
	[ID_HD] [int] IDENTITY(1,1) NOT NULL,
	[ID_BAN] [int] NULL,
	[ID_SP] [int] NULL,
	[SOLUONG] [int] NULL,
	[ID_TK] [int] NULL,
	[NGAYLAP] [datetime] NULL,
	[THANHTIEN] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_HD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUVUC]    Script Date: 24/06/2022 09:09:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUVUC](
	[ID_KV] [int] IDENTITY(1,1) NOT NULL,
	[TENKV] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_KV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSU]    Script Date: 24/06/2022 09:09:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSU](
	[ID_LS] [int] IDENTITY(1,1) NOT NULL,
	[TENBAN] [nvarchar](50) NULL,
	[TENSP] [nvarchar](50) NULL,
	[SOLUONG] [int] NULL,
	[NGAYLAP] [datetime] NULL,
	[THANHTIEN] [float] NULL,
	[FULLNAME] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUYENLIEU]    Script Date: 24/06/2022 09:09:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUYENLIEU](
	[ID_NL] [int] IDENTITY(1,1) NOT NULL,
	[TENNL] [nvarchar](50) NULL,
	[SLTON] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_NL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 24/06/2022 09:09:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[ID_SP] [int] IDENTITY(1,1) NOT NULL,
	[ID_DM] [int] NULL,
	[TENSP] [nvarchar](50) NULL,
	[GIA] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 24/06/2022 09:09:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[ID_TK] [int] IDENTITY(1,1) NOT NULL,
	[FULLNAME] [nvarchar](50) NULL,
	[USERNAME] [varchar](20) NULL,
	[PASS] [varchar](max) NULL,
	[TYPE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BAN] ON 

INSERT [dbo].[BAN] ([ID_BAN], [ID_KV], [TENBAN]) VALUES (30, 9, N'BÀN 2')
INSERT [dbo].[BAN] ([ID_BAN], [ID_KV], [TENBAN]) VALUES (31, 9, N'BÀN 1')
INSERT [dbo].[BAN] ([ID_BAN], [ID_KV], [TENBAN]) VALUES (33, 9, N'BÀN 3')
SET IDENTITY_INSERT [dbo].[BAN] OFF
GO
SET IDENTITY_INSERT [dbo].[DANHMUCSP] ON 

INSERT [dbo].[DANHMUCSP] ([ID_DM], [TENDM]) VALUES (3, N'Thức ăn')
INSERT [dbo].[DANHMUCSP] ([ID_DM], [TENDM]) VALUES (4, N'Nước uống')
SET IDENTITY_INSERT [dbo].[DANHMUCSP] OFF
GO
SET IDENTITY_INSERT [dbo].[DATMON] ON 

INSERT [dbo].[DATMON] ([ID_HD], [ID_BAN], [ID_SP], [SOLUONG], [ID_TK], [NGAYLAP], [THANHTIEN]) VALUES (104, 31, 13, 1, 11, CAST(N'2022-06-24T08:24:00.000' AS DateTime), 25000)
SET IDENTITY_INSERT [dbo].[DATMON] OFF
GO
SET IDENTITY_INSERT [dbo].[KHUVUC] ON 

INSERT [dbo].[KHUVUC] ([ID_KV], [TENKV]) VALUES (9, N'KHU A')
INSERT [dbo].[KHUVUC] ([ID_KV], [TENKV]) VALUES (10, N'KHU B')
INSERT [dbo].[KHUVUC] ([ID_KV], [TENKV]) VALUES (13, N'KHU C')
SET IDENTITY_INSERT [dbo].[KHUVUC] OFF
GO
SET IDENTITY_INSERT [dbo].[LICHSU] ON 

INSERT [dbo].[LICHSU] ([ID_LS], [TENBAN], [TENSP], [SOLUONG], [NGAYLAP], [THANHTIEN], [FULLNAME]) VALUES (51, N'BÀN 1', N'Trà xanh', 1, CAST(N'2022-06-19T23:44:00.000' AS DateTime), 10000, N'Lư Thanh Trí')
INSERT [dbo].[LICHSU] ([ID_LS], [TENBAN], [TENSP], [SOLUONG], [NGAYLAP], [THANHTIEN], [FULLNAME]) VALUES (52, N'BÀN 1', N'Trà xanh', 1, CAST(N'2022-06-20T16:17:00.000' AS DateTime), 10000, N'Lư Thanh Trí')
INSERT [dbo].[LICHSU] ([ID_LS], [TENBAN], [TENSP], [SOLUONG], [NGAYLAP], [THANHTIEN], [FULLNAME]) VALUES (53, N'BÀN 1', N'Trà xanh', 1, CAST(N'2022-06-21T16:13:00.000' AS DateTime), 10000, N'Le VAN A')
SET IDENTITY_INSERT [dbo].[LICHSU] OFF
GO
SET IDENTITY_INSERT [dbo].[NGUYENLIEU] ON 

INSERT [dbo].[NGUYENLIEU] ([ID_NL], [TENNL], [SLTON]) VALUES (2, N'CAFE', 2)
INSERT [dbo].[NGUYENLIEU] ([ID_NL], [TENNL], [SLTON]) VALUES (3, N'SỮA', 2)
INSERT [dbo].[NGUYENLIEU] ([ID_NL], [TENNL], [SLTON]) VALUES (4, N'THẠCH TRÁI CÂY', 2)
SET IDENTITY_INSERT [dbo].[NGUYENLIEU] OFF
GO
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([ID_SP], [ID_DM], [TENSP], [GIA]) VALUES (11, 4, N'Trà xanh', 10000)
INSERT [dbo].[SANPHAM] ([ID_SP], [ID_DM], [TENSP], [GIA]) VALUES (12, 4, N'Sinh tố dâu', 25000)
INSERT [dbo].[SANPHAM] ([ID_SP], [ID_DM], [TENSP], [GIA]) VALUES (13, 3, N'Gà rán', 25000)
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
GO
SET IDENTITY_INSERT [dbo].[TAIKHOAN] ON 

INSERT [dbo].[TAIKHOAN] ([ID_TK], [FULLNAME], [USERNAME], [PASS], [TYPE]) VALUES (11, N'Lư Thanh Trí', N'admin1', N'1bab9494f216d9ecf6a75c4ba2cf8b68', 0)
INSERT [dbo].[TAIKHOAN] ([ID_TK], [FULLNAME], [USERNAME], [PASS], [TYPE]) VALUES (14, N'Lê Văn Đoàn', N'USER1', N'e10adc3949ba59abbe56e057f20f883e', 1)
INSERT [dbo].[TAIKHOAN] ([ID_TK], [FULLNAME], [USERNAME], [PASS], [TYPE]) VALUES (15, N'Trần Thị Hoa', N'tranthihoa', N'1bab9494f216d9ecf6a75c4ba2cf8b68', 1)
SET IDENTITY_INSERT [dbo].[TAIKHOAN] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TAIKHOAN__B15BE12EDE3F2D3D]    Script Date: 24/06/2022 09:09:41 ******/
ALTER TABLE [dbo].[TAIKHOAN] ADD UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DATMON] ADD  DEFAULT (getdate()) FOR [NGAYLAP]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  DEFAULT ('1') FOR [TYPE]
GO
ALTER TABLE [dbo].[BAN]  WITH CHECK ADD  CONSTRAINT [FK__BAN__ID_KV__38996AB5] FOREIGN KEY([ID_KV])
REFERENCES [dbo].[KHUVUC] ([ID_KV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BAN] CHECK CONSTRAINT [FK__BAN__ID_KV__38996AB5]
GO
ALTER TABLE [dbo].[DATMON]  WITH CHECK ADD FOREIGN KEY([ID_TK])
REFERENCES [dbo].[TAIKHOAN] ([ID_TK])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DATMON]  WITH CHECK ADD  CONSTRAINT [FK__HOADON__ID_BAN__47DBAE45] FOREIGN KEY([ID_BAN])
REFERENCES [dbo].[BAN] ([ID_BAN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DATMON] CHECK CONSTRAINT [FK__HOADON__ID_BAN__47DBAE45]
GO
ALTER TABLE [dbo].[DATMON]  WITH CHECK ADD FOREIGN KEY([ID_SP])
REFERENCES [dbo].[SANPHAM] ([ID_SP])
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK__SANPHAM__ID_DM__4222D4EF] FOREIGN KEY([ID_DM])
REFERENCES [dbo].[DANHMUCSP] ([ID_DM])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK__SANPHAM__ID_DM__4222D4EF]
GO
